.social-icons
  a(href='https://vimeo.com/earlylightmedia', target='_blank')
    svg.icon-vimeo
      use(xlink:href='#icon-vimeo')
  a(href='https://www.facebook.com/earlylightmedia', target='_blank')
    svg.icon-facebook
      use(xlink:href='#icon-facebook')
  a(href='https://www.twitter.com/earlylightbalt', target='_blank')
    svg.icon-twitter
      use(xlink:href='#icon-twitter')
  a(href='https://www.instagram.com/earlylightmedia', target='_blank')
    svg.icon-instagram
      use(xlink:href='#icon-instagram')
