.social-icons
  a(href=data.social.vimeo, target='_blank')
    svg.icon-vimeo
      use(xlink:href='#icon-vimeo')
  a(href=data.social.facebook, target='_blank')
    svg.icon-facebook
      use(xlink:href='#icon-facebook')
  a(href=data.social.twitter, target='_blank')
    svg.icon-twitter
      use(xlink:href='#icon-twitter')
  a(href=data.social.instagram, target='_blank')
    svg.icon-instagram
      use(xlink:href='#icon-instagram')
