//- make sure there is a space after "post?"
//- make sure there is a space before @earlylightbalt
//- to avoid "missing space before text ..." compiler warning
  
//- TODO: _path undefined

.panel.panel-default
  .panel-body
    | Have feedback on this post? 
    | Let #[a(href='https://twitter.com/intent/tweet?text=@earlylightbalt%20&related=earlylightbalt&url=#{_path}', target='_blank') @earlylightbalt] know on Twitter.
