include ../mixins/_nav
include ../mixins/_header

doctype html
include ../includes/_ie-conditional-comments
include ../includes/_head

  body(id= helpers.getPageName(_path))
    +nav()
    .page-wrapper
      block header
        +header('yellow')

      block content
  
    block footer
      include ../includes/_social-icons.svg
