extends ./layouts/_default

block content
  h3 ELM Posts 

  ul
    - for post in contentful.posts
      li
        h2: a(href= post._url.replace(/.html$/,""))= post.title
        if post.author
          h4 #{post.author[0].fields.name}
        else
          h4 No author specified!