include ./mixins/_header
extends ./_layouts/_default

block header
  +header('white')

block content
  //- featured posts are limited to 1 ... so why iterate?
  - for post in contentful.featured_post
    - var category = post.category.fields.title
    - var permalink = post._url.replace(/.html$/,"") 
    .container
      .page-blog-landing
        .panel-master
          a(class='panel-master-heading', href='/blog/#{category}')= category
          .panel-master-body
            a(href= permalink)= post.title
              br
              small= post.boxTitle
      
