include ./mixins/_header
include ./mixins/_feature-panel
include ./mixins/_quote-panel
include ./mixins/_split-panel
include ./mixins/_img-panel
extends ./_layouts/_default

block header
  +header('white')

block content
  .container
    .page-blog-landing
      +feature-panel()
      .row.post-list
        .col-md-4
          +quote-panel()
        .col-md-4
          +split-panel()
        .col-md-4
          +img-panel()
