

.page-contact {
  .content {
    background: #FFF;
    color: #111;
    padding-top: 100px;
    padding-bottom: 100px;
    font: 400 1.3em/1.5 $font-family-base;
    a {
      color: #28323f;
      border-bottom: .08em solid rgba(0,0,0,.1);
      padding-bottom: .08em;
      &:hover {
        color: #111;
        border: none;
        text-decoration: none;
      }
    }
    h2 {
      margin-top: 0;
    }
    h3 {
      margin-top: ($padding-large-vertical * 2);
    }
    p {
      margin-top: ($padding-large-vertical * 2);
    }
  }
}
