

.page-home {
  .page-wrapper {
    min-height: 100%;
  }
  .content-wrapper {
    position: absolute;
    display: table;
    height: 100%;
    width: 100%;
    margin-top: -130px;
  }
  .content {
    display: table-cell;
    vertical-align: middle;
    padding-top: 100px;
    text-align: center;
    h1 {
      font: 300 4em/1 $headings-font-family;
      margin: 0 auto 20px;
    }
    p {
      max-width: 400px;
      margin: 0 auto 20px;
      font: 400 .9em/2 $font-family-base;
      color: #CCC;
      letter-spacing: 1px;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .page-home .content {
    padding-bottom: 100px;
  }
}

.bgvid-wrapper {
  z-index: -100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

video.bgvid {
  background: transparent;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* No object-fit support */
  @media (min-aspect-ratio: 16/9) {
    height: 300%;
    top: -100%;
  }
  @media (max-aspect-ratio: 16/9) {
    width: 300%;
    left: -100%;
  }
  /* With object-fit support */
  @supports (object-fit: cover) {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

//.bgvid-wrapper {
//  &::after {
//    content: "";
//    position: fixed;
//    top: 0;
//    left: 0;
//    z-index: -2;
//    height: 100%;
//    width: 100%;
//    background-color: rgba(#333, .7);
//  }
//}

@media (max-width: $screen-xs-max) {
  video.bgvid {
    display: none;
  }
  .page-home {
    background: url("/img/parkour.jpg") 50% 100% no-repeat fixed;
    background-size: cover;
  }
}
