.page-work-index {
  .filter {
    margin: 10px 0 10px;
    .btn-link {
      border-bottom: none;
    }
    .btn-link.active {
      color: $brand-primary-yellow;
    }
    a:not(:last-child) {
      margin-right: 20px;
    }
    a {
      cursor: pointer;
    }
  }
  .panel-master-body {
    strong {
      color: $brand-secondary-red;
      font-weight: normal;
    }
  }
}

.work-index {
  @extend .clearfix;
  .case-study-master {
    display: table;
    height: 320px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 50% 100%;
    overflow: hidden;
    .case-study-panel {
      color: $brand-primary-black;
      display: table-cell;
      position: relative;
      width: 100%;
      z-index: 3;
      font: 2.5em/1.3 $headings-font-family;
      &:hover header h1 {
        color: rgba($brand-primary-yellow, .8);
      }
      &:hover header h1 span::before,
      &:hover header h1 span::after {
        border-top-color: rgba($brand-primary-yellow, .8);
      }
      &:hover a {
        background-color: rgba($brand-primary-yellow, .8);
        border: none;
        color: $brand-primary-black;
      }
      h2 {
        color: rgba($brand-secondary-white, .8);
        margin: 40px 0 20px 50px;
        max-width: 7em;
      }
      a {
        border: 1px solid rgba($brand-primary-yellow, .8);
        color: rgba($brand-secondary-white, .8);
        display: inline-block;
        font-size: .5em;
        line-height: 1;
        margin-left: 50px;
        padding: 1em 2em;
        text-align: center;
        text-transform: uppercase;
        transition: background-color .3s ease-in-out;
        &:hover {
          background-color: rgba($brand-primary-yellow, .8);
          border: none;
          color: $brand-primary-black;
        }
      }
      header {
        h1 {
          color: rgba($brand-secondary-white, .8);
          font-size: .5em;
          font-weight: normal;
          margin-left: 50px;
          margin-top: 55px;
          text-transform: uppercase;
          span {
            display: inline-block;
            padding-top: 2.5px;
            position: relative;
            &::before {
              right: 100%;
              margin-right: 5px;
            }
            &::after {
              left: 100%;
              margin-left: 5px;
            }
            &::before,
            &::after {
              content: "";
              position: absolute;
              top: 35%;
              width: 9999px;
              display: block;
              border-top: 7px solid rgba($brand-secondary-white, .8);
            }
          }
        }
      }
    }
    /* old way of tinting
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      background-color: rgba($brand-primary-yellow, .5);
    }
    &.active,
    &:hover {
      color: $brand-primary-yellow;
      text-decoration: none;
      span {
        opacity: 1;
      }
      &::after {
        opacity: 1;
      }
    }
    */
  }

  .tinted {
    background-blend-mode: darken;
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    transition: .5s background-color;
    &:hover {
      background-color: rgba(0, 0, 0, 0.7);
    }
  }

  .work {
    display: table;
    height: 320px;
    width: 50%;
    float: left;
    position: relative;
    cursor: pointer;
    background-size: cover;
    @media (max-width: $screen-sm-max) {
      background-position: 50% 0;
    }
    @media (max-width: $screen-xs-max) {
      background-position: 50% 0;
      width: 100%;
    }
    span {
      display: table-cell;
      position: relative;
      width: 100%;
      z-index: 3;
      opacity: 0;
      text-align: center;
      vertical-align: middle;
      font: 2.5em/1.3 $headings-font-family;
      font-weight: normal;
      color: $brand-primary-black;
      padding: 30px;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
      small {
        display: block;
        font-size: .6em;
        line-height: 1;
      }
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 2;
      height: 100%;
      width: 100%;
      background-color: rgba($brand-primary-yellow, .5);
      opacity: 0;
      transition: opacity .25s ease-in-out;
      -moz-transition: opacity .25s ease-in-out;
      -webkit-transition: opacity .25s ease-in-out;
    }
    &.active,
    &:hover {
      text-decoration: none;
      span {
        opacity: 1;
      }
      &::after {
        opacity: 1;
      }
    }
  }
}
