@charset "utf-8";

@import url("//fonts.googleapis.com/css?family=Oswald:400,300,700");

// Typography overrides
$font-family-base: Helvetica, Arial, sans-serif;
$headings-font-family: "nimbus-sans-condensed", sans-serif;
$meta-font-family: "Oswald", sans-serif;

// Brand colors
$brand-primary-black: #000000;
$brand-primary-yellow: #ffff33; // PANTONE YELLOW 012 RGB 255 255 51 CMYK 6 0 89 0
$brand-secondary-red: #ea2626; // PANTONE RED 032 RGB 235 38 38 CMYK 2 97 96 0
$brand-secondary-gray: #2b2b2b;
$brand-secondary-black: #525252;
$brand-secondary-white: #ffffff;

// Brand buttons
$btn-primary-color: $brand-primary-black !important;
$btn-primary-bg: $brand-secondary-red;
$btn-primary-border: $brand-secondary-red;

@import "vendor/bootstrap";
@import "base";
@import "archive";
@import "header";
@import "nav";
@import "footer";
@import "home";
@import "about";
@import "contact";
@import "blog_landing";
@import "head_content";
@import "post";
@import "page";
@import "terms";
@import "work_item";
@import "work_index";
@import "work_single_video";
@import "thanks";
@import "nav_circle";
