mixin cn-nav()
  .component
    button.cn-button#cn-button +
    .cn-wrapper#cn-wrapper
      ul
        li
          a(href='/blog/news')
            span News
        li
          a(href='/blog/method')
            span Method
        li
          a(href='/blog/road')
            span Road
        li
          a(href='/blog/culture')
            span Culture
        li
          a(href='/blog/gear')
            span Gear
        li
          a(href='/blog/animation')
            span Animation
    #cn-overlay.cn-overlay

