mixin nav(cur)
  nav#navbar.navbar.navbar-default
    .container
      ul.nav.navbar-nav

        li
          a(href='/work', rel='prefetch', class={active: cur == 'work'}) Work
        li
          a(href='/blog', rel='prefetch', class={active: cur == 'blog'}) Blog
        li
          a(href='/about', rel='prefetch', class={active: cur == 'about'}) About
        li
          a(href='/contact', rel='prefetch', class={active: cur == 'contact'}) Contact