mixin post-body(body)
  -
    function buildEmbed(_, videoId) {
      return '<div class="embed-responsive embed-responsive-16by9"><iframe src="https://player.vimeo.com/video/' + videoId + '"' + 'webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></div>';
    }

  != marked(body.replace(/\[\[(\d{9,13})\]\]/g, buildEmbed))
