mixin quote-panel()
  .panel-common.panel-quotes
    .panel-quote-heading
      h3 Quote
    .panel-quote-body
      span.title= contentful.quotes[0].body
      span.author= contentful.quotes[0].author