include ../mixins/_header
include ../mixins/_cn-nav.jade
extends ../_layouts/_default

block header
  +header('white')

block content
  .container
    .page-blog-landing
      h2 Culture
      .row
        - for post in contentful.culture
          .col-md-6
            - var postTitle = post.title
            - var postSubTitle = post.boxTitle
            - var postDate = moment(post.date).format("MMM D, YYYY")
            - var permalink = post._url.replace(/.html$/,"") 
            - var panelImage = post.imageBox
            .panel-common.panel-box-img(style='background-image:url(#{asset(panelImage)})')
              .panel-box-1-heading
              .panel-box-1-body
                a(href= permalink)
                  small= postDate
                  span.title= postTitle
                  span.text= postSubTitle
      +cn-nav()
  block append footer
    script(src="/js/cn-nav-custom.js")