include ../mixins/_header
include ../mixins/_split-panel
include ../mixins/_cn-nav.jade
extends ../_layouts/_default

block header
  +header('white')

block content
  .container
    .page-blog-landing
      h2 News
      .row
        - for post in contentful.news
          .col-md-4
            - var postTitle = post.title
            - var postSubTitle = post.boxTitle
            - var postDate = post.date
            - var permalink = post._url.replace(/.html$/,"") 
            - var panelImage = post.imageBox
            .panel-common
              .panel-box-1-heading-img(style='background-image:url(#{asset(panelImage)})')
              .panel-box-1-body
                a(href= permalink)
                  small #{moment(postDate).format("MMM D, YYYY")}
                  span.title= postTitle
                  span.text= postSubTitle
      +cn-nav()
  block append footer
    script(src="/js/cn-nav-custom.js")